[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-MySQLdb = "*"
Flask-WTF = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Login = "*"

[dev-packages]

[requires]
python_version = "3.6"
